<footer>
      <div class="container-fluid bg-blue px-sm-0 px-3">
        <div class="container m-auto">
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
                  <div class="col-md-4 d-flex align-items-center">
                    <span class="text-parrot fw-bold">© 2024 Company, Inc</span>
                  </div>
              
                  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <!-- <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-instagram text-parrot pe-2"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-facebook text-parrot pe-2"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-linkedin text-parrot"></i></a></li> -->
                    <span class="text-white">Digitalize your buisness</span>
                  </ul>
                </footer>
              </div>
        </div>
      </div>
    </footer>