    <!-- Navbar -->
    <div class="container-fluid position-relative">
        <div class="col-12 p-0 m-auto">
          <nav class="navbar navbar-expand-lg bg-transparent position-relative z-2 py-3 navbar-cont px-sm-0 px-3">
              <div class="container m-auto">
                  <div class="col-md-4 mb-2 mb-md-0">
                      <a
                        href="/"
                        class="d-inline-flex link-body-emphasis text-decoration-none position-relative z-2"
                      >
                        <span class="text-parrot fw-bold fs-3">LunarTechLabs</span>
                      </a>
                    </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-8" id="navbarSupportedContent">
                  <ul class="navbar-nav pt-lg-0 pt-5 ms-auto col-lg-9 col-12 mb-2 justify-content-end mb-md-0 position-relative z-2">
                      <li>
                          <a href="/" class="nav-link px-2 py-lg-0 py-2 text-white fw-bold">HOME</a>
                        </li>
                        <li>
                          <a href="/about-us" class="nav-link px-2 py-lg-0 py-2 text-white fw-bold"
                            >ABOUT US
                          </a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle px-2 py-lg-0 py-2 text-white fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                            >PRODUCTS</a
                          >
                          <ul class="dropdown-menu z-5">
                            <li><a class="dropdown-item p-2" href="/services">Cloud Solutions</a></li>
                            <li><a class="dropdown-item p-2" href="/services">Mobile App Development</a></li>
                            <li><a class="dropdown-item p-2" href="/services">Website Design & Development</a></li>
                            <li><a class="dropdown-item p-2" href="/services">Web App Development</a></li>
                            <li><a class="dropdown-item p-2" href="/services">API Development</a></li>
                            <li><a class="dropdown-item p-2" href="/services">Automation Tool</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="/contact-us" class="nav-link px-2 py-lg-0 py-2 text-white fw-bold"
                            >CONTACT</a
                          >
                        </li>
                       
                  </ul>
                </div>
              </div>
            </nav>
  
          <!-- hero section -->
  
          <video
            autoplay
            muted
            loop
            class="hero-sec-video position-absolute h-100 w-100 -z-1 t-b-l-r-0 object-fit-cover"
          >
            <source
              src="/videos/6804109-uhd_4096_2160_25fps.mp4"
              type="video/mp4"
            />
          </video>
          <div
            class="video-cover position-absolute w-100 h-100 z-1 t-b-l-r-0"
          ></div>
          <!-- content -->
          <div class="content position-relative z-2 py-5">
            <div class="col-12 py-5">
              <!-- heading -->
              <div class="head">
                <div class="col-12">
                  <h1 class="m-0 pb-3 text-parrot text-center">
                    Welcome to Your Digital Marketing Solution
                  </h1>
                  <h5 class="m-0 pb-3 text-white text-center">
                    ELEVATE YOUR BRAND…
                  </h5>
                </div>
              </div>
              <!-- links -->
              <!-- <div class="links text-center">
                <div class="col-12 pb-3 d-flex flex-sm-row flex-column justify-content-center">
                  <div class="link px-3 py-sm-0 py-2">
                    <div class="col-12">
                      <i class="fa-brands fa-facebook text-white pe-2"></i>
                      <a href="#" class="text-white text-decoration-none"
                        >Follow us on facebook</a
                      >
                    </div>
                  </div>
                  <div class="link px-3 py-sm-0 py-2">
                    <div class="col-12">
                      <i class="fa-brands fa-instagram text-white pe-2"></i>
                      <a href="#" class="text-white text-decoration-none"
                        >Follow us on Instagram</a
                      >
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- button -->
              <div class="bttn text-center">
                <div class="col-12 d-flex justify-content-center">
                  <a href="<%= target %>" class="custom-button z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>