:root {
  --blue: #106ebe !important;
  --parrot: #0ffcbe !important;
  --darkGray: #333333 !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-parrot {
  background-color: var(--parrot) !important;
}

.text-blue {
  color: var(--blue) !important;
}

.text-parrot {
  color: var(--parrot) !important;
}

.text-darkGray {
  color: var(--darkGray) !important;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.h-w-100 {
  height: 100px !important;
  width: 100px !important;
}

.min-h-192 {
  min-height: 192px !important;
}

.min-h-487 {
  min-height: 487px !important;
}

.max-w-272 {
  max-width: 272px !important;
}

.h-600 {
  height: 600px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.border-parrot {
  border: 2px solid var(--parrot) !important;
}

.border-blue {
  border: 2px solid var(--blue) !important;
}

.radius-t-l-b-r-60 {
  border-top-left-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
}

.text-truncate4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t-b-l-r-0 {
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.-z-1 {
  z-index: -1 !important;
}

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-cover {
  background-size: cover !important;
}

.video-cover {
  background-color: rgba(0, 0, 0, 0.4117647059);
}

.navbar-toggler {
  color: transparent !important;
  border: transparent !important;
}

.navbar-toggler-icon {
  background-image: url("/images/barsIcon.png") !important;
}

#quote-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#quote-button .quote-link {
  text-decoration: none;
  color: white;
}

.custom-button {
  position: relative !important;
  display: block !important;
  font-size: 14px !important;
  font-family: "montserrat" !important;
  text-decoration: none !important;
  color: white !important;
  background-color: transparent !important;
  padding: 10px 44px !important;
  text-transform: uppercase !important;
  overflow: hidden !important;
  transition: 1s all ease !important;
}

.custom-button::before {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: -1 !important;
  transition: all 0.6s ease !important;
}

.btn-parrot::before {
  width: 0% !important;
  opacity: 0 !important;
  border: 2px solid var(--parrot) !important;
}

.btn-parrot:hover::before {
  width: 100% !important;
  opacity: 1 !important;
}

.btn-parrot:hover {
  background-color: var(--parrot) !important;
  height: 100% !important;
  opacity: 1 !important;
  color: var(--darkGray) !important;
}

.btn-blue::before {
  width: 0% !important;
  opacity: 0 !important;
  border: 2px solid var(--blue) !important;
}

.btn-blue:hover::before {
  width: 100% !important;
  opacity: 1 !important;
}

.btn-blue:hover {
  background-color: var(--blue) !important;
  height: 100% !important;
  opacity: 1 !important;
  color: white !important;
}
