<div class="container-fluid py-5">
    <div class="container m-auto py-5">
      <div class="content">
        <div class="col-12 p-5 shadow bg-white rounded-5">
          <!-- top -->
          <div class="top bg-body-tertiary rounded-5">
            <div class="col-12 d-flex p-5">
              <!-- left img -->
              <div class="col-6">
                <div class="col-12">
                  <img class="h-350 w-100 rounded-5 object-fit-cover" src="/images/serverless.jpg" alt="" />
                </div>
              </div>
              <!-- right content -->
              <div class="content col-6 ps-5 d-flex align-items-center">
                <div class="col-12">
                  <div class="head pb-3">
                    <div class="col-12">
                      <h3 class="m-0 fw-bold fs-4 text-parrot">
                        Front End Services
                      </h5>
                    </div>
                  </div>
                  <div class="price pb-3">
                    <div class="col-12">
                      <p class="m-0">3 Page(Basic) Website
                      </p>
                    </div>
                  </div>
                  <div class="price pb-3">
                    <div class="col-12">
                      <p class="m-0">1 hour free consultation</p>
                    </div>
                  </div>
                  <div class="buttons me-3 pb-3">
                      <div class="col-12 text-white">
                        <!-- buttons -->
                         <a href="/contact-us" class="btn bg-parrot px-3 py-2">Get Started</a>
                         <a href="/whatsapp" class="btn bg-parrot px-3 py-2">Schedule a Consultation</a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- bottom -->
          <div class="bottom mt-5 p-5 bg-body-tertiary rounded-5">
              <div class="col-12">
                <div class="head pb-3">
                    <div class="col-12">
                        <h3 class="m-0 fw-bold fs-3 text-center text-parrot">Services</h3>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box pb-4">
                      <div class="col-12">
                        <!-- Head -->
                         <div class="head pb-3">
                            <div class="col-12">
                                <h5 class="m-0 fs-5 fw-bold">Custom Website Design</h5>
                            </div>
                         </div>
                         <div class="text">
                            <div class="col-12">
                                <p class="m-0">I specialize in creating tailor-made websites that perfectly align with each client's branding and goals. By focusing on a deep understanding of the client’s vision, I ensure that every aspect of the design reflects their identity, engages their target audience, and drives conversions. My expertise includes utilizing modern design principles and best practices to deliver visually appealing, user-friendly websites that stand out in a crowded market.
                                </p>
                            </div>
                         </div>
                      </div>
                  </div>
                    <!-- box -->
                    <div class="box pb-4">
                        <div class="col-12">
                          <!-- Head -->
                           <div class="head pb-3">
                              <div class="col-12">
                                  <h5 class="m-0 fs-5 fw-bold">Responsive Web Development</h5>
                              </div>
                           </div>
                           <div class="text">
                              <div class="col-12">
                                  <p class="m-0">I build mobile-first, responsive websites optimized for various devices, ensuring a seamless user experience across all platforms. By implementing flexible grid layouts and utilizing responsive design techniques, I guarantee that your website looks and performs exceptionally, whether accessed from a desktop, tablet, or smartphone. My approach prioritizes usability and accessibility, making it easy for users to navigate and interact with your site.</p>
                              </div>
                           </div>
                        </div>
                    </div>
                      <!-- box -->
                  <div class="box pb-4">
                    <div class="col-12">
                      <!-- Head -->
                       <div class="head pb-3">
                          <div class="col-12">
                              <h5 class="m-0 fs-5 fw-bold">E-Commerce Solutions</h5>
                          </div>
                       </div>
                       <div class="text">
                          <div class="col-12">
                              <p class="m-0">I have the capability to create comprehensive online stores that integrate payment gateways and offer seamless user experiences. From designing intuitive product pages to implementing secure checkout processes, I focus on delivering e-commerce solutions that not only look great but also drive sales. My expertise ensures that your online store is equipped with essential features like inventory management, customer accounts, and analytics for tracking performance.</p>
                          </div>
                       </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box pb-4">
                    <div class="col-12">
                      <!-- Head -->
                       <div class="head pb-3">
                          <div class="col-12">
                              <h5 class="m-0 fs-5 fw-bold">Content Management Systems (CMS)</h5>
                          </div>
                       </div>
                       <div class="text">
                          <div class="col-12">
                              <p class="m-0">I utilize platforms like WordPress, Drupal, and custom CMS development to give clients full control over their site content. By providing easy-to-use interfaces and robust back-end systems, I empower clients to manage their content effortlessly. Whether you need a fully customized solution or a tailored experience with existing platforms, I ensure that your CMS is flexible, intuitive, and meets your specific needs.</p>
                          </div>
                       </div>
                    </div>
                </div>
                  <!-- box -->
                  <div class="box pb-4">
                    <div class="col-12">
                      <!-- Head -->
                       <div class="head pb-3">
                          <div class="col-12">
                              <h5 class="m-0 fs-5 fw-bold">Web Application Development</h5>
                          </div>
                       </div>
                       <div class="text">
                          <div class="col-12">
                              <p class="m-0">I specialize in developing complex web applications, including SaaS platforms, dashboards, and other interactive tools. My approach involves understanding the unique requirements of each client to create solutions that enhance operational efficiency and user engagement. I leverage modern frameworks and technologies to build robust applications that are scalable, secure, and user-friendly.</p>
                          </div>
                       </div>
                    </div>
                </div>
                 <!-- box -->
                 <div class="box pb-4">
                    <div class="col-12">
                      <!-- Head -->
                       <div class="head pb-3">
                          <div class="col-12">
                              <h5 class="m-0 fs-5 fw-bold">SEO Optimization</h5>
                          </div>
                       </div>
                       <div class="text">
                          <div class="col-12">
                              <p class="m-0">I offer comprehensive search engine optimization services to ensure that your websites rank well on Google and other search engines. By implementing on-page and off-page SEO strategies, optimizing site structure, and creating quality content, I help improve your visibility and drive organic traffic. My goal is to enhance your website's search performance and ensure you reach your target audience effectively.</p>
                          </div>
                       </div>
                    </div>
                </div>
                 <!-- box -->
                 <div class="box pb-4">
                    <div class="col-12">
                      <!-- Head -->
                       <div class="head pb-3">
                          <div class="col-12">
                              <h5 class="m-0 fs-5 fw-bold">Performance and Security</h5>
                          </div>
                       </div>
                       <div class="text">
                          <div class="col-12">
                              <p class="m-0">I emphasize the importance of fast, secure, and reliable websites. By implementing best practices in performance optimization and robust security measures, I ensure that your site runs smoothly and protects user data. This includes techniques such as caching, image optimization, secure authentication, and regular security audits to safeguard against threats and vulnerabilities.</p>
                          </div>
                       </div>
                    </div>
                </div>
              </div>
          </div>
             <!-- second bottom -->
             <div class="bottom mt-5 p-5 bg-body-tertiary rounded-5">
                <div class="col-12">
                  <div class="head pb-3">
                      <div class="col-12">
                          <h3 class="m-0 fw-bold fs-3 text-center text-parrot">Bonus Services</h3>
                      </div>
                  </div>
                    <!-- box -->
                    <div class="box pb-4">
                        <div class="col-12">
                          <!-- Head -->
                           <div class="head pb-3">
                              <div class="col-12">
                                  <h5 class="m-0 fs-5 fw-bold">Content Creation</h5>
                              </div>
                           </div>
                           <div class="text">
                              <div class="col-12">
                                  <p class="m-0">I offer professional content creation services that help clients communicate their message effectively. From crafting engaging website copy to developing informative blog posts, I ensure that every piece of content resonates with your target audience and aligns with your brand voice. My focus is on delivering high-quality, SEO-friendly content that not only informs but also engages users, driving traffic and encouraging conversions.
                                  </p>
                              </div>
                           </div>
                        </div>
                    </div>
                      <!-- box -->
                      <div class="box pb-4">
                          <div class="col-12">
                            <!-- Head -->
                             <div class="head pb-3">
                                <div class="col-12">
                                    <h5 class="m-0 fs-5 fw-bold">Graphic Design</h5>
                                </div>
                             </div>
                             <div class="text">
                                <div class="col-12">
                                    <p class="m-0">With a keen eye for aesthetics and branding, I provide custom graphic design services tailored to your business needs. Whether you require logos, marketing materials, or digital graphics for your website, I work closely with you to create visually appealing designs that capture your brand’s essence. My goal is to enhance your visual identity and ensure that all graphic elements are cohesive and impactful, helping you stand out in a competitive market.</p>
                                </div>
                             </div>
                          </div>
                      </div>
                        <!-- box -->
                    <div class="box pb-4">
                      <div class="col-12">
                        <!-- Head -->
                         <div class="head pb-3">
                            <div class="col-12">
                                <h5 class="m-0 fs-5 fw-bold">Digital Marketing Integration</h5>
                            </div>
                         </div>
                         <div class="text">
                            <div class="col-12">
                                <p class="m-0">I specialize in integrating digital marketing strategies to amplify your online presence and reach your business goals. This includes setting up email marketing campaigns, optimizing social media profiles, and implementing analytics tools to track performance. By combining these elements, I help you engage with your audience effectively and drive traffic to your site. My approach focuses on creating a comprehensive digital marketing plan that aligns with your overall business strategy and fosters growth.</p>
                            </div>
                         </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  