<!-- heading -->
<div class="container-fluid pt-5" id="aboutUs-sec">
    <div class="container m-auto    ">
        <h3 class="m-0 fs-42 fw-bold text-parrot text-center">About Us</h3>
    </div>
</div>
<!-- section1 -->
<div class="container-fluid py-5 px-sm-0 px-3">
    <div class="container py-5 d-flex flex-lg-row flex-column m-auto">
        <div class="col-lg-6 col-12 pb-lg-0 pb-5">
            <div class="col-lg-10 col-12">
                <img class="h-100 w-100 object-fit-cover rounded-5" src="/images/web.jpg" alt="web coding img">
            </div>
        </div>
        <div class="col-lg-6 col-12 d-flex align-items-center">
            <div class="col-12">
                <div class="head pb-3">
                    <div class="col-12">
                        <h3 class="m-0 fw-bold">Professional Background</h3>
                    </div>
                </div>
                <div class="text">
                    <div class="col-12">
                        <p class="m-0">I specialize in creating custom web applications that cater to diverse business needs. Leveraging technologies like ASP.NET Core for robust back-end systems and React for dynamic front-end experiences, I have successfully developed solutions ranging from management systems to CRM tools and ERP platforms. My experience extends to building scalable SaaS platforms and implementing microservices architectures, allowing businesses to streamline operations and enhance functionality. I also have expertise in serverless applications, utilizing Azure Functions and AWS Lambda to create cost-effective and scalable solutions.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- section2 -->
<div class="container-fluid py-5 bg-body-tertiary px-sm-0 px-3">
    <div class="container py-5 d-flex flex-lg-row flex-column m-auto">
        <div class="col-lg-6 col-12 d-flex align-items-center">
            <div class="col-12">
                <div class="head pb-3">
                    <div class="col-12">
                        <h3 class="m-0 fw-bold">Skills</h3>
                    </div>
                </div>
                <div class="text">
                    <div class="col-12">
                        <p class="m-0">My technical skill set encompasses a broad spectrum of web development, including API development and integration. I excel at crafting secure, high-performance RESTful and GraphQL APIs, integrating third-party services such as payment gateways and cloud storage. Additionally, I have a strong foundation in mobile app development using Xamarin and React Native, enabling me to create cross-platform applications that deliver native-like performance. My proficiency in data visualization using React, Chart.js, and D3.js allows me to develop interactive dashboards for real-time data insights, enhancing business intelligence and performance tracking.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 pb-lg-0 pb-5 d-flex justify-content-end">
            <div class="col-lg-10 col-12">
                <img class="h-100 w-100 object-fit-cover rounded-5" src="/images/api.jpg" alt="api img">
            </div>
        </div>
    </div>
</div>



<!-- section3 -->
<div class="container-fluid py-5 px-sm-0 px-3">
    <div class="container py-5 d-flex flex-lg-row flex-column m-auto">
        <div class="col-lg-6 col-12 pb-lg-0 pb-5">
            <div class="col-lg-10 col-12">
                <img class="h-100 w-100 object-fit-cover rounded-5" src="/images/web-security.jpg" alt="security img">
            </div>
        </div>
        <div class="col-lg-6 col-12 d-flex align-items-center">
            <div class="col-12">
                <div class="head pb-3">
                    <div class="col-12">
                        <h3 class="m-0 fw-bold">Approach</h3>
                    </div>
                </div>
                <div class="text">
                    <div class="col-12">
                        <p class="m-0">My approach to web development is centered around delivering tailored solutions that meet specific client requirements. I prioritize understanding the unique workflows of each business to create custom content management systems and advanced web security measures. By employing best practices in web security, including OAuth2, JWT authentication, and data encryption, I ensure that applications are both secure and optimized for performance. Through collaboration and a focus on innovation, I aim to turn ideas into profitable digital solutions, providing a seamless user experience and driving business growth.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
