<main>
        
    <!-- section1 -->
    <div class="container-fluid py-5 px-sm-0 px-3">
        <div class="container py-5 d-flex flex-lg-row flex-column m-auto">
            <div class="col-lg-6 col-12 pb-lg-0 pb-5">
                <div class="col-lg-10 col-12">
                    <img class="h-100 w-100 object-fit-cover rounded-5" src="/images/team-collaboration.jpeg" alt="team collaboration img">
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex align-items-center">
                <div class="col-12">
                    <div class="head pb-3">
                        <div class="col-12">
                            <h3 class="m-0 fw-bold">Fully dedicated to finding the best solutions.</h3>
                        </div>
                    </div>
                    <div class="text">
                        <div class="col-12">
                            <p class="m-0">"Our bespoke business solutions will let you soar above your rivals. With ASP.NET Core and React in our arsenal, we craft seamless, secure, and scalable mobile and web applications. Our expertise spans custom web applications, API development, mobile app development, SaaS platforms, and microservices architecture. We also specialize in serverless solutions, data visualization dashboards, and CMS development. Let us harness our skills to elevate your digital presence and prove that your success is our purpose."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Services -->

    <div class="container-fluid py-5 bg-body-tertiary px-sm-0 px-3" id="services-sec">
      <div class="container py-5 m-auto">
        <div class="head pb-5">
          <div class="col-12">
            <h3 class="m-0 fs-42 text-parrot fw-bold text-center">Our Expertise</h3>
          </div>
        </div>
        <div class="content">
          <div class="col-12">
            <div class="boxe">
              <div class="col-12 d-flex flex-wrap flex-lg-row flex-column">
                <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/web.jpg" alt="web coding img" srcset="web coding img">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">Custom Web Applications
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">Create tailored web applications with ASP.NET Core for robust back-ends and React for dynamic front-ends. Whether it's management systems, CRM tools, or ERP solutions, I deliver software that meets your specific needs.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
                 <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/api.jpg" alt="api img" srcset="">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">API Development & Integration
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">Unlock your systems with custom RESTful and GraphQL APIs. I build secure, high-performance APIs using ASP.NET, integrating essential services like payment gateways and cloud storage.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
                 <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/web.jpg" alt="web coding img" srcset="">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">Mobile App Development
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">Expand your reach with cross-platform mobile apps for iOS and Android using Xamarin or React Native. Enjoy native-like performance powered by C# and React.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
                 <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/saas.jpg" alt="sass img" srcset="">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">SaaS Platforms
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">Turn your idea into a profitable SaaS solution with multi-tenant, cloud-hosted platforms built on ASP.NET Core, ensuring scalability and a great user experience.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
                 <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/microservice.avif" alt="microservices img" srcset="">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">Microservices Architecture
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">For complex systems, I design scalable microservices architectures using ASP.NET Core and Docker, enabling flexibility and resilience as your business grows.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
                 <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/serverless.avif" alt="serverless img" srcset="">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">Serverless Applications
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">Reduce costs and enhance scalability with serverless architecture. I create efficient solutions using Azure Functions or AWS Lambda, tailored to your workflows.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
                 <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/datavisulization.avif" alt="datavisulization img" srcset="">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">Data Visualization Dashboards
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">Bring your data to life with real-time dashboards built using React, Chart.js, and D3.js for business intelligence, financial reporting, and more.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
                 <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/cms.avif" alt="CMS img" srcset="">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">CMS Development & Customization
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">Go beyond standard CMS platforms. I develop custom content management systems or modern headless CMS solutions with a React front-end for easy content management.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
                 <!-- box -->
                 <div class="box col-lg-4 col-md-6 col-12 py-3">
                  <div class="col-md-11 col-12 shadow bg-white p-4 text-center radius-t-l-b-r-60">
                    <div class="img pb-3">
                      <div class="col-12">
                        <img class="h-w-100 object-fit-cover rounded-circle" src="/images/web-security.jpg" alt="web security img" srcset="">
                      </div>
                    </div>
                    <div class="head pb-3">
                      <div class="col-12">
                        <h4 class="m-0 fw-bold">Web Security & Optimization
                        </h4>
                      </div>
                    </div>
                    <div class="text pb-3">
                      <div class="col-12">
                        <p class="m-0 text-truncate4">Enhance security and performance with advanced practices. I implement OAuth2, JWT, and robust encryption to ensure your systems are secure and optimized.
                        </p>
                      </div>
                    </div>
                    <div class="bttn">
                        <div class="col-12 d-flex justify-content-center">
                          <a href="/services" class="custom-button text-black z-0 my-2 rounded-5 me-2 btn-parrot border-parrot">Explore</a>
                        </div>
                    </div>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- section 6 -->
   <div class="container-fluid py-5 px-sm-0 px-3">
    <div class="container m-auto py-5">
        <div class="head pb-5">
            <div class="col-12">
                <h3 class="m-0 fw-bold fs-42 text-parrot text-center">Why Choose Us?​</h3>
            </div>
        </div>
        <div class="content">
            <div class="col-12">
                <div class="boxes">
                    <div class="col-12 d-flex flex-wrap">
                        <!-- box -->
                         <div class="box col-lg-4 col-sm-8 col-12 py-lg-3 py-5 m-auto">
                            <div class="col-lg-10 col-12 text-center">
                                <div class="img pb-3">
                                    <div class="col-12">
                                        <img class="h-w-100 rounded-circle object-fit-cover" src="/images/passion.jpeg" alt="passion img" srcset="">
                                    </div>
                                </div>
                                <div class="head pb-3">
                                    <div class="col-12">
                                        <h3 class="m-0 fw-bold text-parrot">Passion</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                         <p class="m-0">At LunarTechLabs, our passion is the driving force behind every project. We pour creativity and dedication into crafting innovative solutions that captivate your audience and propel your brand to new heights.</p>
                                    </div>
                                </div>
                            </div>
                         </div>

                         <!-- box -->
                         <div class="box col-lg-4 col-sm-8 col-12 py-lg-3 py-5 m-auto">
                            <div class="col-lg-10 col-12 text-center">
                                <div class="img pb-3">
                                    <div class="col-12">
                                        <img class="h-w-100 rounded-circle object-fit-cover" src="/images/mission.jpeg" alt="mission" srcset="">
                                    </div>
                                </div>
                                <div class="head pb-3">
                                    <div class="col-12">
                                        <h3 class="m-0 fw-bold text-parrot">Our Mission</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                         <p class="m-0">Our mission is to be your strategic partner in the digital world. We’re committed to delivering exceptional solutions that drive your success. With us, your digital achievement is not just a goal; it’s our purpose.
                                         </p>
                                    </div>
                                </div>
                            </div>
                         </div>
                         <!-- box -->
                         <div class="box col-lg-4 col-sm-8 col-12 py-lg-3 py-5 m-auto">
                            <div class="col-lg-10 col-12 text-center">
                                <div class="img pb-3">
                                    <div class="col-12">
                                        <img class="h-w-100 rounded-circle object-fit-cover" src="/images/trust.png" alt="trust" srcset="">
                                    </div>
                                </div>
                                <div class="head pb-3">
                                    <div class="col-12">
                                        <h3 class="m-0 fw-bold text-parrot">Trust</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                         <p class="m-0">Trust is the foundation of our relationships. With LunarTechLabs, you can be confident that your digital journey is in capable hands. Let us harness innovative solutions to streamline your operations and elevate your brand.
                                         </p>
                                    </div>
                                </div>
                            </div>
                         </div>
                         <!-- box -->
                         <div class="box col-lg-4 col-sm-8 col-12 py-lg-3 py-5 m-auto">
                            <div class="col-lg-10 col-12 text-center">
                                <div class="img pb-3">
                                    <div class="col-12">
                                        <img class="h-w-100 rounded-circle object-fit-cover" src="/images/vision.avif" alt="vision" srcset="">
                                    </div>
                                </div>
                                <div class="head pb-3">
                                    <div class="col-12">
                                        <h3 class="m-0 fw-bold text-parrot">Our Vision</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                         <p class="m-0">We envision a future where your business thrives in the digital landscape. With Database Design, Social Media Marketing, and SEO strategies, we're here to make that vision a reality.</p>
                                    </div>
                                </div>
                            </div>
                         </div>
                         <!-- box -->
                         <div class="box col-lg-4 col-sm-8 col-12 py-lg-3 py-5 m-auto">
                            <div class="col-lg-10 col-12 text-center">
                                <div class="img pb-3">
                                    <div class="col-12">
                                        <img class="h-w-100 rounded-circle object-fit-cover" src="/images/value.jpg" alt="value" srcset="">
                                    </div>
                                </div>
                                <div class="head pb-3">
                                    <div class="col-12">
                                        <h3 class="m-0 fw-bold text-parrot">Value</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                         <p class="m-0">At LunarTechLabs, value drives everything we do. Our diverse offerings—from strategic branding to innovative software solutions—are crafted for maximum impact and ROI.</p>
                                    </div>
                                </div>
                            </div>
                         </div>
                         <!-- box -->
                         <div class="box col-lg-4 col-sm-8 col-12 py-lg-3 py-5 m-auto">
                            <div class="col-lg-10 col-12 text-center">
                                <div class="img pb-3">
                                    <div class="col-12">
                                        <img class="h-w-100 rounded-circle object-fit-cover" src="/images/4.jpg" alt="girl img" srcset="">
                                    </div>
                                </div>
                                <div class="head pb-3">
                                    <div class="col-12">
                                        <h3 class="m-0 fw-bold text-parrot">High Quality</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="col-12">
                                         <p class="m-0">Serving our clients with quality and loyalty is what makes us lead the market. We never compromise on these two whole marks as they are our basic pillars.</p>
                                    </div>
                                </div>
                            </div>
                         </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</main>