  <!-- section 1 -->
  <div class="container-fluid py-5" id="products-sec">
    <div class="container m-auto">
      <div class="head">
        <div class="col-12">
          <h3 class="m-0 fs-42 text-parrot text-center fw-bold">Featured Products</h3>
        </div>
      </div>
      <!-- content -->
      <div class="content pt-5">
        <div class="col-12">
          <div class="boxes">
            <div class="col-12 d-flex flex-wrap">
              <!-- box -->
              <div class="box col-lg-4 col-8 d-flex flex-lg-row flex-lg-column py-4 m-auto">
                <div class="col-lg-11 col-12 shadow rounded-5">
                  <div class="img">
                    <div class="col-12">
                      <img
                        class="h-100 w-100 rounded-top-5"
                        src="/images/web.jpg"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                  <!-- content -->
                  <div
                    class="content bg-blue text-white p-4 rounded-bottom-5"
                  >
                    <div class="col-12">
                      <div class="head pb-3">
                        <div class="col-12">
                          <h3 class="m-0 text-parrot fw-bold">
                            Front End Services
                          </h3>
                        </div>
                      </div>
                      <div class="para pb-3">
                        <div class="col-12">
                          <p class="m-0">
                            3 Page(Basic) Website
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <div class="col-12">
                          <p class="m-0 text-parrot fw-bold">R49093</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- box -->
              <div class="box col-lg-4 col-8 d-flex flex-lg-row flex-lg-column py-4 m-auto">
                <div class="col-lg-11 col-12 shadow rounded-5">
                  <div class="img">
                    <div class="col-12">
                      <img
                        class="h-100 w-100 rounded-top-5"
                        src="/images/web.jpg"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                  <!-- content -->
                  <div
                    class="content bg-blue text-white p-4 rounded-bottom-5"
                  >
                    <div class="col-12">
                      <div class="head pb-3">
                        <div class="col-12">
                          <h3 class="m-0 text-parrot fw-bold">
                            Back End Services
                          </h3>
                        </div>
                      </div>
                      <div class="para pb-3">
                        <div class="col-12">
                          <p class="m-0">
                            3 Page(Basic) Website
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <div class="col-12">
                          <p class="m-0 text-parrot fw-bold">R49093</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- box -->
              <div class="box col-lg-4 col-8 d-flex flex-lg-row flex-lg-column py-4 m-auto">
                <div class="col-lg-11 col-12 shadow rounded-5">
                  <div class="img">
                    <div class="col-12">
                      <img
                        class="h-100 w-100 rounded-top-5"
                        src="/images/web.jpg"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                  <!-- content -->
                  <div
                    class="content bg-blue text-white p-4 rounded-bottom-5"
                  >
                    <div class="col-12">
                      <div class="head pb-3">
                        <div class="col-12">
                          <h3 class="m-0 text-parrot fw-bold">
                            Full Stack Services
                          </h3>
                        </div>
                      </div>
                      <div class="para pb-3">
                        <div class="col-12">
                          <p class="m-0">
                            3 Page(Basic) Website
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <div class="col-12">
                          <p class="m-0 text-parrot fw-bold">R49093</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- box -->
              <div class="box col-lg-4 col-8 d-flex flex-lg-row flex-lg-column py-4 m-auto">
                <div class="col-lg-11 col-12 shadow rounded-5">
                  <div class="img">
                    <div class="col-12">
                      <img
                        class="h-100 w-100 rounded-top-5"
                        src="/images/web.jpg"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                  <!-- content -->
                  <div
                    class="content bg-blue text-white p-4 rounded-bottom-5"
                  >
                    <div class="col-12">
                      <div class="head pb-3">
                        <div class="col-12">
                          <h3 class="m-0 text-parrot fw-bold">
                            Front End Services
                          </h3>
                        </div>
                      </div>
                      <div class="para pb-3">
                        <div class="col-12">
                          <p class="m-0">
                            3 Page(Basic) Website
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <div class="col-12">
                          <p class="m-0 text-parrot fw-bold">R49093</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- box -->
              <div class="box col-lg-4 col-8 d-flex flex-lg-row flex-lg-column py-4 m-auto">
                <div class="col-lg-11 col-12 shadow rounded-5">
                  <div class="img">
                    <div class="col-12">
                      <img
                        class="h-100 w-100 rounded-top-5"
                        src="/images/web.jpg"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                  <!-- content -->
                  <div
                    class="content bg-blue text-white p-4 rounded-bottom-5"
                  >
                    <div class="col-12">
                      <div class="head pb-3">
                        <div class="col-12">
                          <h3 class="m-0 text-parrot fw-bold">
                            Back End Services
                          </h3>
                        </div>
                      </div>
                      <div class="para pb-3">
                        <div class="col-12">
                          <p class="m-0">
                            3 Page(Basic) Website
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <div class="col-12">
                          <p class="m-0 text-parrot fw-bold">R49093</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- box -->
              <div class="box col-lg-4 col-8 d-flex flex-lg-row flex-lg-column py-4 m-auto">
                <div class="col-lg-11 col-12 shadow rounded-5">
                  <div class="img">
                    <div class="col-12">
                      <img
                        class="h-100 w-100 rounded-top-5"
                        src="/images/web.jpg"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                  <!-- content -->
                  <div
                    class="content bg-blue text-white p-4 rounded-bottom-5"
                  >
                    <div class="col-12">
                      <div class="head pb-3">
                        <div class="col-12">
                          <h3 class="m-0 text-parrot fw-bold">
                            Full Stack Services
                          </h3>
                        </div>
                      </div>
                      <div class="para pb-3">
                        <div class="col-12">
                          <p class="m-0">
                            3 Page(Basic) Website
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <div class="col-12">
                          <p class="m-0 text-parrot fw-bold">R49093</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- box -->
              <div class="box col-lg-4 col-8 d-flex flex-lg-row flex-lg-column py-4 m-auto">
                <div class="col-lg-11 col-12 shadow rounded-5">
                  <div class="img">
                    <div class="col-12">
                      <img
                        class="h-100 w-100 rounded-top-5"
                        src="/images/web.jpg"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </div>
                  <!-- content -->
                  <div
                    class="content bg-blue text-white p-4 rounded-bottom-5"
                  >
                    <div class="col-12">
                      <div class="head pb-3">
                        <div class="col-12">
                          <h3 class="m-0 text-parrot fw-bold">
                            Front End Services
                          </h3>
                        </div>
                      </div>
                      <div class="para pb-3">
                        <div class="col-12">
                          <p class="m-0">
                            3 Page(Basic) Website
                          </p>
                        </div>
                      </div>
                      <div class="price">
                        <div class="col-12">
                          <p class="m-0 text-parrot fw-bold">R49093</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
